html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
}

.intro {
  flex-direction: column;
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 2in;
  margin-right: 2in;
  margin-top: 1in;

}

.left-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.long-cat {
  height: 5in;
  width: auto;
  margin-right: 1.5in;
}

.name {
  text-align: left;
  color:  #2b85c1;
  font-size: 3vw;
  height: auto; 
  width: auto;
  margin-left: 1in;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

.about-me{
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}


h2 {
  text-align: center;
  color:  #2b85c1;
  font-family: "Lucida Console", "Courier New", monospace;

}

h3 {
  text-align: left;
  margin-left: 1in;
  color:  #2b85c1; 
  font-size: 1vw;
  font-family: "Lucida Console", "Courier New", monospace;

}

h4 {
  text-align: center;
  color: purple;
}

p {
  text-align: center;
  background-color: rgb(189, 97, 189);
  color: rgb(244, 72, 106);
}

.resume-link{
  text-decoration: none;
}

.resume-button {
  background-color: rgb(150, 93, 220);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-left: 1in;
  cursor: pointer;
  font-family: "Lucida Console", "Courier New", monospace;
}

.resume-button:hover {
  background-color: white;
  color: rgb(150, 93, 220);
}

.about {
  flex-direction: column;
  background-image: url(https://img.freepik.com/free-photo/violet-watercolor-texture-background_1083-172.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}